@import 'reset.css';

@import 'fonts.css';

@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,300);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  margin: 0px;
  height: 100%;
}
body {
  background-color: #ffffff;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 29px;
  padding: 0px;
  margin: 0px;
}
figure {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}
figure:before {
  position: relative;
}
h1 {
  font-weight: 500;
  font-size: 31px;
  line-height: normal;
}
h2 {
  font-weight: 500;
  font-size: 31px;
  line-height: normal;
  text-transform: uppercase;
  margin: 11px 0px 0px;
}
h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: normal;
  text-transform: uppercase;
  margin: 7px 0px 0px;
}
p {
  margin: 0px 0px 23px;
}
p.center {
  text-align: center;
}
a {
  text-decoration: none;
  color: #0000cc;
}
strong {
  font-weight: 600;
}
i {
  font-weight: 300;
}
abbr {
  font-weight: 600;
  cursor: help;
}
hr {
  background: radial-gradient(at center top, #cccccc, #f8f8f8 400px);
  border: 0px;
  height: 1px;
  margin: 13px 0px 21px;
}
nav {
  background: #294063;
  color: #c2d9ff;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 250px;
}
nav:hover + .layout {
  margin-left: 230px;
}
nav:hover + .layout:before {
  left: 3px;
}
nav:hover + .layout:after {
  left: 6px;
}
nav > ul {
  padding: 10px 0px;
}
nav > ul > li {
  display: block;
  min-height: 37px;
  border-top: 1px solid #304c75;
  border-bottom: 1px solid #223451;
}
nav > ul > li:first-child {
  border-top: 0px;
}
nav > ul > li:last-child {
  border-bottom: 0px;
}
nav > ul > li:hover .submenu {
  height: auto;
}
nav .submenu {
  overflow-y: hidden;
  height: 0px;
  font-size: 13px;
  transition: height 400ms ease-in-out;
  -webkit-transition: height 400ms ease-in-out;
  -moz-transition: height 400ms ease-in-out;
  -ms-transition: height 400ms ease-in-out;
}
nav .submenu li a {
  padding: 0px 0px 0px 23px;
  font-weight: 600;
  transition: all 120ms ease-in-out;
  -webkit-transition: all 120ms ease-in-out;
  -moz-transition: all 120ms ease-in-out;
  -ms-transition: all 120ms ease-in-out;
}
nav .submenu li a:hover {
  background: #304c75;
}
nav figure {
  width: 32px;
  height: 32px;
  font-size: 22px;
}
nav a {
  display: block;
  color: inherit;
  padding: 3px 0px 0px 13px;
  text-shadow: 0px 1px 0px #0a0f17;
}
nav a:hover {
  color: #ffffff;
}
nav a span {
  font-weight: 600;
}
section.layout {
  background: #ffffff;
  position: relative;
  height: 100%;
  margin-left: 48px;
  padding: 40px 0px 40px 50px;
  z-index: 2;
  box-shadow: -5px 0px 11px rgba(0, 0, 0, 0.35);
  transition: margin 400ms ease-in-out;
  -webkit-transition: margin 400ms ease-in-out;
  -moz-transition: margin 400ms ease-in-out;
  -ms-transition: margin 400ms ease-in-out;
}
section.layout:before,
section.layout:after {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 5px;
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.3);
}
section.layout .content {
  width: 720px;
  min-height: 100%;
}
section.layout .content .intro h1 {
  background: url(../img/logo.png);
  position: relative;
  top: 0px;
  left: -17px;
  text-indent: -9999px;
  width: 271px;
  height: 65px;
  margin-bottom: 7px;
}
section.layout .content .intro p {
  margin-bottom: 29px;
}
section.layout .content .intro hr {
  margin-bottom: 29px;
}
section.layout .content .chuck-norris {
  position: relative;
  top: -31px;
}
section.layout .content table.xpath-expressions {
  width: 100%;
  border-collapse: inherit;
  border-spacing: 0px;
  border: #ccc 1px solid;
  border-bottom: 0px;
  margin: 5px 0px 31px 0px;
  border-radius: 3px;
}
section.layout .content table.xpath-expressions tr:nth-child(2n+1) {
  background: #f2f2f2;
}
section.layout .content table.xpath-expressions th {
  background: #d0d0d0;
}
section.layout .content table.xpath-expressions th,
section.layout .content table.xpath-expressions td {
  padding: 2px 5px;
  text-align: left;
  border-bottom: #ccc 1px solid;
  font-size: 15px;
}
section.layout .content table.xpath-expressions th:first-child,
section.layout .content table.xpath-expressions td:first-child {
  text-align: center;
  width: 90px;
}
section.layout .content table.xpath-expressions td:first-child {
  font-size: 17px;
  letter-spacing: 1px;
}
section.layout .xpath-school {
  position: relative;
  z-index: 2;
  background: #fff;
  border: #ddd 1px solid;
  border-radius: 3px 3px 0px 0px;
  font-size: 14px;
  line-height: 17px;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  height: 643px;
  overflow: hidden;
}
section.layout .xpath-school .paste_data {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 100%;
  height: 100%;
  resize: none;
  border: 0px;
  display: none;
  font-size: 14px;
  line-height: 17px;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  letter-spacing: 0.75px;
  padding: 2px 0px 0px 3px;
  margin: 0px;
}
section.layout .xpath-school .structure {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  color: #111;
}
section.layout .xpath-school .structure table {
  height: 643px;
}
section.layout .xpath-school .structure .gutter {
  background: #ececec;
  color: #aaa;
  text-align: right;
  border-right: #ddd 1px solid;
  min-width: 18px;
  padding: 5px 7px;
}
section.layout .xpath-school .structure .gutter span {
  display: block;
  height: 17px;
}
section.layout .xpath-school .structure .line-data {
  padding: 5px 3px;
}
section.layout .xpath-school .structure .line-data .line.ml .ml {
  -webkit-animation: 300ms wink;
  -moz-animation: 300ms wink;
  animation: 300ms wink;
}
section.layout .xpath-school .structure .line-data .line span {
  display: inline-block;
  height: 17px;
}
section.layout .xpath-school .structure .line-data .line .dc {
  color: #666;
}
section.layout .xpath-school .structure .line-data .line .p {
  color: #30f;
}
section.layout .xpath-school .structure .line-data .line .na {
  color: #f00;
}
section.layout .xpath-school .structure .line-data .line .s1 {
  color: #a00;
}
section.layout .xpath-school .structure .line-data .line .s2 {
  color: #077;
}
section.layout .xpath-school .structure .line-data .line .s {
  color: #30f;
}
section.layout .xpath-school .structure .line-data .line .c {
  color: #0a0;
}
section.layout .xpath-school .structure .line-data .line .nt {
  color: #a00;
}
section.layout .xpath-school .structure .line-data .line .mal,
section.layout .xpath-school .structure .line-data .line .ml {
  background: #ff9;
  border-radius: 0px 3px 3px 0px;
}
section.layout .xpath-school .structure .line-data .line .mal {
  border-radius: 3px;
}
@-webkit-keyframes wink {
  0% {
    padding-left: 0px;
  }
  50% {
    padding-left: 5px;
  }
  100% {
    padding-left: 0px;
  }
}
@-moz-keyframes wink {
  0% {
    padding-left: 0px;
  }
  50% {
    padding-left: 5px;
  }
  100% {
    padding-left: 0px;
  }
}
@keyframes wink {
  0% {
    padding-left: 0px;
  }
  50% {
    padding-left: 5px;
  }
  100% {
    padding-left: 0px;
  }
}
section.layout .xpath-school .examples {
  background: #eee;
  opacity: 0;
  position: absolute;
  top: 0px;
  right: -270px;
  height: 100%;
  width: 270px;
  overflow: hidden;
  border-left: #ddd 1px solid;
  font-size: 13px;
  line-height: 19px;
  padding: 3px 1px;
}
section.layout .xpath-school .examples h2 {
  margin: 0px;
  font-size: 19px;
  color: #666;
  background: #ddd;
  position: relative;
  top: -2px;
  padding: 3px 0px 0px 5px;
  line-height: 23px;
  text-transform: inherit;
}
section.layout .xpath-school .examples a {
  display: block;
  background: #fff;
  border-radius: 3px;
  height: 27px;
  padding: 3px 5px 0px;
  margin: 1px 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  color: #369;
  box-shadow: 0px 1px 3px #ccc;
  border: #fff 2px solid;
}
section.layout .xpath-school .examples a:hover {
  text-decoration: none;
  background: #fafafa;
  border-color: #fafafa;
}
section.layout code {
  background: #eee;
  border: #ddd 1px solid;
  border-radius: 3px;
  padding: 5px 5px 3px;
  margin: 0px 2px 0px 0px;
  font-size: 16px;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}
section.layout code.nolink {
  cursor: pointer;
}
section.layout code .obj {
  color: #929;
  text-shadow: 0px 0px 1px #929;
}
section.layout code .fn {
  color: #369;
}
section.layout code .arg {
  color: #888;
  font-style: italic;
}
.gist-code {
  margin: 17px 0px 67px;
}
.gist-code.type-xslt .line-pre .k,
.gist-code.type-xslt .line-pre .na {
  color: #f00 !important;
}
.gist-code.type-xslt .line-pre .s {
  color: #30f !important;
}
.gist-code.type-xslt .line-pre .c {
  color: #0a0 !important;
}
.gist-code.type-xslt .line-pre .nt {
  color: #a00 !important;
}
.gist-code.type-xslt .line-pre .kd {
  color: #369 !important;
  text-shadow: 0px 0px 1px #9cf;
}
.gist-code.type-xslt .line-pre .mn {
  color: #669 !important;
}
.gist-code.type-xslt .line-pre .xnt {
  color: #088 !important;
  text-shadow: 0px 0px 1px #0ee;
}
.gist-code.type-xslt .line-pre .jc {
  color: #999;
  font-style: italic;
}
.gist-code.type-javascript .gist-syntax .k,
.gist-code.type-javascript .gist-syntax .kc,
.gist-code.type-javascript .gist-syntax .kd {
  color: #33d !important;
}
.gist-code .gist .gist-file {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.gist-code .gist .gist-file:hover .gist-meta {
  bottom: 0px;
}
.gist-code .gist .gist-file .gist-data {
  border-bottom: 0px !important;
  position: relative;
  z-index: 2;
}
.gist-code .gist .gist-file .gist-meta {
  position: absolute;
  bottom: -30px;
  left: 0px;
  right: 0px;
  opacity: 0.8;
  z-index: 2;
  border-top: #ddd 1px solid;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: normal;
  transition: bottom 250ms ease-in-out;
  -webkit-transition: bottom 250ms ease-in-out;
  -moz-transition: bottom 250ms ease-in-out;
  -ms-transition: bottom 250ms ease-in-out;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gist-code .gist .gist-file .line-numbers {
  display: none;
}
.gist-code .gist .gist-file .line-pre {
  margin-left: 20px !important;
}
.gist-code .gist .gist-file .gist-data,
.gist-code .gist .gist-file .line-data {
  font-family: 'Source Code Pro', Menlo !important;
  font-size: 15px !important;
  line-height: 19px !important;
  background: #fafafa;
}
@-webkit-keyframes absolut_loading {
  0% {
    height: 1%;
  }
  80% {
    height: 75%;
  }
  100% {
    height: 1%;
  }
}
@-moz-keyframes absolut_loading {
  0% {
    height: 1%;
  }
  80% {
    height: 75%;
  }
  100% {
    height: 1%;
  }
}
@-o-keyframes absolut_loading {
  0% {
    height: 1%;
  }
  80% {
    height: 75%;
  }
  100% {
    height: 1%;
  }
}
@keyframes absolut_loading {
  0% {
    height: 1%;
  }
  80% {
    height: 75%;
  }
  100% {
    height: 1%;
  }
}
