
@import "mixins.less";
@import "bootstrap-reboot.less";
@import "bootstrap-grid.less";
@import "github.less";
@import "code.less";


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

